﻿@model IEnumerable<TicketMaster.Models.PaymentTicketViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pago_pendiente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pago_pendiente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Payments", new { id=item.tic_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.tic_id }) |
            <a href="@Url.Action("Delete","Payments",new { id=item.tic_id })">Delete</a>
        </td>
    </tr>
}

</table>
