﻿@model TicketMaster.Models.PAY_TICKET

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PAY_TICKET</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BRA_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BRA_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DLY_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DLY_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIC_TICKETSTATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIC_TICKETSTATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIC_SUBTOTAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIC_SUBTOTAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIC_TAX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIC_TAX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIC_TOTALAMOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIC_TOTALAMOUNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIC_SELLER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIC_SELLER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEN_CUR_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEN_CUR_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEN_TAX_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEN_TAX_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PUT_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUT_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXC_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXC_ID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <input type="hidden" value="@Html.DisplayFor(model => model.TIC_ID)" name="tic_id" />

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
